<div class="block blue">
    <div class="container">
        <div class="row row-override">
            <div class="span12">
                <div class="clear-form no-border">
                    <form>
                        <div class="form-heading">
                            <h3 class="header">Server Credential</h3>
                            <hr />
                        </div>
                        <div class="form-body">
                            <span class="form-label">Provider</span>
                            <select ng-model="Credential.Provider" class="input-block-level">
                                <option ng-selected="{{type.value == Credential.Provider}}" ng-repeat="type in Providers" value="{{type.value}}">{{type.text}}</option>
                            </select>
                            <span class="form-label">Enter your Server Name</span>
                            <input type="text" ng-model="Credential.ServerName" class="input-block-level" />
                            <span class="form-label">User Id</span>
                            <input type="text" ng-model="Credential.UserId" class="input-block-level" />
                            <span class="form-label">Password</span>
                            <input type="password" ng-model="Credential.Password" class="input-block-level" />
                            <span class="form-label">Database Name</span>
                            <input type="text" ng-model="Credential.Database" class="input-block-level" />
                            <p class="highlight">
                                By clicking on the "Proceed" button below, you certify that you have read and agree to our <a href="#">terms of use</a> and <a href="">privacy policy</a>.
                               
                            </p>

                        </div>
                        <div class="form-footer">
                            <button type="submit" ng-click="GetDatabase()" class="btn btn-large btn-green btn-block">Proceed</button>                                                      
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
