<div class="block blue">
    <div class="container">
        <div class="row row-override">
            <div class="span12">
                <div class="clear-form no-border">
                    <form name="credentialForm" novalidate ng-submit="GetDatabase()">
                        <div class="form-heading">
                            <h3 class="header">Server Credential</h3>
                            <hr />
                        </div>
                        <div class="form-body">
                            <span class="form-label">Provider</span>
                            <select ng-model="Credential.Provider" class="input-block-level">
                                <option ng-selected="{{type.value == Credential.Provider}}" ng-repeat="type in Providers" value="{{type.value}}">{{type.text}}</option>
                            </select>
                            
                            
                            <span class="form-label">Enter your Server Name</span>                            
                            <input type="text" 
                                ng-model="Credential.ServerName" 
                                name="ServerName"
                                placeholder="Server Name"
                                class="input-block-level"
                                required />
                            <div class="error-container" 
                                ng-show="credentialForm.ServerName.$dirty && credentialForm.ServerName.$invalid">
                                <small ng-show="credentialForm.ServerName.$error.required">Please enter server name.</small>
                            </div>


                            <span class="form-label">User Id</span>
                            <input type="text" 
                                ng-model="Credential.UserId" 
                                class="input-block-level"
                                name="UserId"
                                placeholder="User Name"
                                required />
                            <div class="error-container" 
                                ng-show="credentialForm.UserId.$dirty && credentialForm.UserId.$invalid">
                                <small ng-show="credentialForm.UserId.$error.required">Please enter user name.</small>
                            </div>

                            <span class="form-label">Password</span>
                            <input type="password" 
                                ng-model="Credential.Password" 
                                class="input-block-level"
                                name="Password"
                                placeholder="Password"
                                required />
                            <div class="error-container" 
                                ng-show="credentialForm.Password.$dirty && credentialForm.Password.$invalid">
                                <small ng-show="credentialForm.Password.$error.required">Please enter password.</small>
                            </div>

                            <span class="form-label">Database Name</span>
                            <input type="text" 
                                ng-model="Credential.Database" 
                                class="input-block-level"
                                name="DatabaseName"
                                placeholder="Database Name"
                                required />
                            <div class="error-container" 
                                ng-show="credentialForm.DatabaseName.$dirty && credentialForm.DatabaseName.$invalid">
                                <small ng-show="credentialForm.DatabaseName.$error.required">Please enter database name.</small>
                            </div>

                            <p class="highlight">
                                By clicking on the "Proceed" button below, you certify that you have read and agree to our <a href="#">terms of use</a> and <a href="">privacy policy</a>.
                               
                            </p>
                            <div ng-show="ServerError"><p>{{ErrorMessage}}</p></div>                            
                        </div>
                        <div class="form-footer">
                            <button type="submit" ng-disabled="credentialForm.$invalid" class="btn btn-large btn-green btn-block">Proceed</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="load-wrapper" ng-show="loader">
</div>
<div class="loader" ng-show="loader">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>
